{{!-- ! This file contains blogpost html --}}


<div class="blogpost">
    <h2 class="post-title">{{name}}</h2>
    <p class="main-desc">{{description}}</p>
    <p class="created-by">Created by {{user.name}}</p>

    <p>
      <div>
        <a href="/updatePost"><button class="update-btn" data-id="{{blogPost.id}}">Update</button></a>
      </div>
    </p>
</div>

<div class="comments">
  <h3 class="comment-title">Comments: </h3>

  <h3 class="add-comment">Add a comment!</h3>
    <input class="title-input" type="text" id="post-title" name="post-title" />
    <button type="submit" class="post-comment">Post comment</button>
</div>

{{!-- Link with stylesheet and script --}}
<script src="./js/blogPost.js"></script>
<link rel="stylesheet" href="/css/blogpost.css">

 {{!-- on {{format_date date_created}} --}}

 {{!-- on {{format_date blogPost.date_created}} --}}