<div class="post-container">
  {{#if blogPost.length}}
  <div class="post-container">
    <h3 class="current-posts">Current Posts:</h3>

    {{#each blogPost as |blogPost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <a href="/blogPost/{{blogPost.id}}"><h4 class="post-title-link">{{blogPost.name}}</h4></a>
        <p class="post-author">Posted by: {{user.name}} </p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/homepage.js"></script>
<link rel="stylesheet" href="/css/homepage.css">



































        {{!-- {{#if logged_in}}
        <btn class="dislike-btn">Like</btn>
        <btn class="dislike-btn">Dislike</btn>
        {{/if}} --}}


{{!--  </a>--}}




      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogPost.id}}">DELETE</button>
      </div> --}}



{{!-- !Link with css --}}
{{!-- {{#each blogPost as |blogPost| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <a href="/models/blogPost.js/{{blogPost.id}}">{{blogPost.name}}</a>
        </h2>
    </div>
    {{/each}}
</div> --}}