{{#each blogPost as |blogPost| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <a href="/models/blogPost.js/{{blogPost.id}}">{{blogPost.name}}</a>
        </h2>
    </div>
    {{/each}}
</div>

  {{#if blogPost.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each blogPost as |blogPost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogPost/{{blogPost.id}}">{{blogPost.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogPost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}




{{!-- !Link with css --}}