{{!-- ! This file contains html for the profile page --}}

<div class="profile-main">
  <div class="row">
    <div class="col-auto">
      <h2 id="userWelcome">Welcome, {{name}}! </h2>
    </div>
  </div>
  <div class="new-post">
    <a href="/newPost"><button class="newPost-btn">New Post!</button></a>
  </div>

<form class="edit-blog-form" data-id="{{id}}">
  <div class="card border-dark mb-3">
      <header class="card-header bg-dark">
          <h3 class="card-title">Edit Blog</h3>
      </header>
      <div class="card-body">
            <div class="mb-3">
              <label class="form-label">New Title</label>
              <input class="form-control" type="text" id="new-title" required>
            </div>
            <div class="mb-3">
              <label class="form-label">New Description</label>
              <input class="form-control" type="text" id="new-description" required>
              <button type="submit" class="update-btn" data-id="{{id}}">Update and save</button>
              <button class="cancel-btn">Cancel</button>
            </div>
        </div>    
    </div>
</form>

<div class="profile-posts">
    {{#if blogPost.length}}
        {{#each blogPost}}
        <section class="post-section">
            <div>
                <h4 class="profile-post-name"><a href="/blogPost/{{id}}">{{name}}</a></h4>
                <p class="created-by">Created on: {{date_created}}</p>
                {{!-- <p class="created-by">Created by: {{user.name}} </p> --}}
            </div>

            <div>
              <button class="edit-btn" data-id="{{id}}">Edit</button>
              <button class="delete-btn" data-id="{{id}}">Delete</button>
            </div>
        </section>
        {{/each}}
    {{/if}}
</div>

{{!-- Link with stylesheet and script --}}
<script src="./js/profile.js"></script>
<link rel="stylesheet" href="/css/profile.css">
