{{!-- ! This file contains html for the update post page --}}

<div id="coming-soon">
    <h1> Update your post!</h1>
    <h1> *NOT WORKING YET*</h1>
</div>

<div class="update-container">
    {{log this.blogPost}}
    
    <h4>New Title: {{post.title}}</h4>
    <textarea class="post-title">{{blogpost.title}}</textarea>

    <h4>New Description {{description}}</h4>
    <textarea class="description">{{description}}</textarea>
</div>


<div class="buttons">
    <button class="update-btn">Update and Post!</button>
    <button class="cancel-btn">Cancel</button>
</div>

<script src="./js/update.js"></script>
<link rel="stylesheet" href="/css/update.css">
